<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookDatabaseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBookDatabaseService"
                contract="BookDatabaseService.IBookDatabaseService" name="BasicHttpBinding_IBookDatabaseService" />
        </client>
    </system.serviceModel>
</configuration>